.borer-color {
  border-color: transparent;
}

.colorChange {
  background-color: white;
  border-color: rgba(0, 0, 0, 0.205);
}

.colorChange:hover {
  background-color: var(--main-color);
  border-color: var(--main-color);
  color: white;
}

@media (max-width: 480px) {
  .w_buuton {
    width: 90%; 
    height: 49px;/* Full width on small screens */
  }
}
